.wrapper {
  background-color: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  padding: 20px;
  max-width: 315px;
  max-height: 360px;
  position: relative;
  top: 40px;

  @media (max-width: 1130px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    max-width: 773px;
  }
}
