.filterField {
    background-color: #FFFFFF;
    border: 1px solid #EAEBED;
    border-radius: 12px;
    padding: 20px;
    max-width: 315px;
    max-height: 360px;

    position: relative;
    top: 40px;
}

.filterDropDown {
    display: none;
}

.searchField {
    position: absolute;
    left: 342px;
    bottom: 310px;
}

.filterFormField {
    width: 275px;
    max-height: 320px;
    padding: 0px;
    position: relative;
}

.resetAllField {
    position: absolute;
    right: 0;
    top: 0;

    padding-right: 17px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ACADB9;

    background: url('../../../resources/images/resetDefault.jpg') no-repeat 97px 2.5px/16px 16px;
}

.resetAllField:hover {
    cursor: pointer;
    color: #92C1FF;
    background: url('../../../resources/images/resetHover.png') no-repeat 97px 2.5px/16px 16px;
}

.resetAllField:active {
    cursor: pointer;
    color: #5E96FC;
    background: url('../../../resources/images/resetPressed.png') no-repeat 97px 2.5px/16px 16px;
}

.resetAllField img {
    display: inline-block;
    margin-bottom: 1px;
}

.factoryLabel {
    margin-top: 32px;
    padding-bottom: 8px;
}

.salaryLabel {
    padding-bottom: 8px;
}

.defaultButtonStyles {
    padding: 4px 20px;

    text-align: center;

    background-color: #5E96FC;
    color: #FFFFFF;

    border-radius: 8px;
    border: none;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.defaultButtonStyles:hover {
    background-color: #92C1FF;
    cursor: pointer;
}

.defaultButtonStyles:active {
    background-color: #3B7CD3;
    cursor: pointer;
}

.submitButton {
    margin-top: 20px;

    display: block;

    width: 275px;
    height: 40px;
}

.searchButton {
    display: inline-block;

    width: 83px;
    height: 32px;
}

@media (max-width: 1130px) and (min-width: 320px) {
    .filterField {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 20px 0;

        width: 100%;
        max-width: 773px;
    }

    .filterFormField {
        width: 80%;
    }

    .searchField {
        position: static;
        margin-top: 40px;

        max-width: 773px;
        width: 100%;
    }

    .factoryLabel,
    .salaryLabel {
        text-align: center;
    }

    .submitButton {
        margin-left: auto;
        margin-right: auto;
        width: 330px;
    }
}

@media (max-width: 544px) and (min-width: 320px) {

    .filterFormPropsfalse {
        display: none;
    }

    .filterFormPropstrue {
        visibility: visible;
    }

    .resetAllField {
        top: 1px;
        right: 30px;
    }

    .fdd {
        display: block;
        position: absolute;
        right: -15px;
        top: -5px;
        width: 30px;
        height: 30px;

        background: no-repeat 0 0/30px 30px;
    }

    .fdd {
        cursor: pointer;
    }

    .filterDropDownfalse {
        background-image: url('../../../resources/images/fdd.png');
    }

    .filterDropDowntrue {
        background-image: url('../../../resources/images/fddActive.png');
    }

    .filterDropDownfalse:hover {
        background-image: url('../../../resources/images/fddOnHoverF.png');
    }

    .filterDropDowntrue:hover {
        background-image: url('../../../resources/images/fddOnHoverT.png');
    }

    .searchField {
        position: absolute;
        left: 0;
        bottom: -70px;
    }
}

@media (max-width: 440px) and (min-width: 320px) {
    .submitButton {
        width: 180px;
    }

    .searchButton {
        width: 60px;
        padding: 0;
        margin-left: 20px;
    }
}