.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vacancy {
  background-color: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  position: relative;
  width: 100%;
  max-width: 773px;
  min-height: 137px;
  padding: 24px;
  margin-bottom: 16px;
}

.curVac {
  margin: 40px auto 0 auto;
}

.vacancyText {
  color: #232134;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  width: 100%;
  max-width: 773px;
  background-color: white;
  padding: 24px;
  margin: 20px auto 51px auto;
  border: 1px solid #eaebed;
  border-radius: 12px;

  h1,
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 1130px) {
  .vacancyPageWrapper,
  .curVac {
    max-width: 813px;
    width: 95%;
  }
}
