.headerWrapper {
    background-color: white;
    height: 84px;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 95%;
    max-width: 1116px;

    margin: 0 auto;

    position: relative;
}

.logoTitle {
    color: #232134;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;

    padding-left: 39px;

    background: white url('../../resources/images/logoPicture.png') no-repeat 0 2px/30px 30px;
}

.nav {
    display: flex;
    gap: 60px;

    height: 20px;
    width: 275px;

    position: absolute;
    top: 32px;
    left: 37.72%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.nav a {
    text-decoration: none;
    display: block;
}

.nav .vacancies {
    width: 130px;
}

.favIcon,
.vacanciesIcon {
    display: none;
}

.active {
    font-weight: 500;
    color: #5E96FC;
}

.nonActive {
    font-weight: 400;
    color: #232134;
}

@media (max-width: 485px) and (min-width: 320px) {
    .nav {
        width: 200px;
        left: 32.72%;
    }

    .fav,
    .vacancies {
        display: none;
    }

    .favIcon,
    .vacanciesIcon {
        display: block;
        width: 30px;
        height: 30px;

        background: no-repeat 0 0/30px 30px;
    }

    .nonActive .favIcon {
        background-image: url('../../resources/images/favIcon.png');
    }

    .nonActive .vacanciesIcon {
        background-image: url('../../resources/images/searchIcon.png');
    }

    .active .favIcon {
        background-image: url('../../resources/images/favIconOnHover.png');
    }

    .active .vacanciesIcon {
        background-image: url('../../resources/images/searchIconOnHover.png');
    }
}

@media (max-width: 380px) and (min-width: 320px) {
    .nav {
        left: 22%;
    }
}