.profession {
  margin-bottom: 12.5px;
  width: 95%;
  max-width: 690px;
  overflow: hidden;

  a {
    text-decoration: none;
    color: #5e96fc;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: 580px) {
    font-size: 22px;
  }
}

.town {
  padding-left: 22px;
  background: url('../../resources/images/location.png') no-repeat 0px 2px/16px 16px;
}

.townDefaultFont {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232134;
}
